.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0.5% 10.5%;
}
.header__logo {
  height: 40px;
  width: auto;
}
.header__nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
.header__nav li {
  margin-left: 30px;
  font-size: 16px;
}
.header__dropdown {
  display: none;
}
.header__dropdown__content {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
  }
  .header__dropdown {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1%;
  }
  .header__dropdown__btn {
    background-color: white;
    padding: 15px;
    font-size: 30px;
    border: none;
  }
  .header__dropdown__content {
    display: none;
    background-color: white;
    padding: 3%;
    padding-bottom: 5%;
    border-top: 2px solid #f3976c;
    box-shadow: inset 0px 0px 50px -13px rgba(0, 0, 0, 0.26);
    transition: all 1s ease;
    height: 0;
  }
  .header__dropdown__content a {
    margin: 1%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .header__container {
    margin: 0 1%;
  }
  .header__container__logo img {
    width: 90%;
  }
  .header__dropdown__content {
    padding: 5%;
    padding-bottom: 10%;
  }
}
footer {
  background-color: #f3976c;
  max-width: none !important;
}
footer h3 {
  text-align: center;
  margin: 0;
  padding-top: 2%;
  color: black;
}
footer .social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}
footer .social li {
  padding: 2% 5%;
  font-size: 30px;
  color: black;
}

@media screen and (max-width: 768px) {
  .social {
    padding: 0;
  }
}
/*RESET LINK STYLE*/
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/**/
@media screen and (min-width: 1024px) {
  .page-container {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.agence__container {
  background-image: url(../img/agence-la-panthere.webp);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
.agence__container img {
  width: 100px;
  margin-top: 8%;
}
.agence__container h1 {
  color: white;
  margin-bottom: 8%;
}

.services__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services__description {
  margin-top: 3%;
  margin-bottom: 2%;
  width: 50%;
}
.services__description h2 {
  font-size: 22px;
  text-align: center;
}
.services__box {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.services__card {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-around;
  text-align: center;
  margin: 0 1% 0 1%;
}
.services__card h3 {
  text-transform: uppercase;
}
.services__card p {
  font-size: 15px;
}
.services__citation {
  text-align: center;
  width: 50%;
  font-size: 20px;
}
.services__citation__comment {
  font-style: italic;
  margin-bottom: 0;
}
.services__citation__name {
  color: black;
}

.icon__web::before {
  font-family: et-line;
  font-weight: 400;
  font-size: 60px;
  content: "\e00c";
}

.icon__strat::before {
  font-family: et-line;
  font-weight: 400;
  font-size: 60px;
  content: "\e00e";
}

.icon__illustration::before {
  font-family: et-line;
  font-weight: 400;
  font-size: 60px;
  content: "\e01c";
}

.objectif {
  display: flex;
  justify-content: center;
  background-image: url(../img/image-de-presentation_1.webp);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.objectif__bloc {
  text-align: center;
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  background-color: rgba(104, 120, 45, 0.426);
}
.objectif__bloc h3 {
  color: white;
  font-size: 25px;
}
.objectif__bloc p {
  color: white;
}

.portfolio {
  padding-bottom: 5%;
}
.portfolio__title {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  padding-top: 10%;
  padding-bottom: 5%;
}
.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0 20%;
}
.portfolio__container__card {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 2%;
  margin-bottom: 5%;
}
.portfolio__container__card img {
  width: 100%;
  height: auto;
}
.portfolio__container__card h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.portfolio__container__card p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .portfolio__container__card {
    margin: 0 4%;
    width: 40%;
  }
}

.contact {
  background-image: url(../img/agence-la-panthere.webp);
  background-position: center;
  background-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact h2 {
  color: white;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}
.contact form {
  margin-bottom: 25%;
}
.contact form button {
  padding: 1% 2% 1% 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: black;
  background-color: #f3976c;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10% 15%;
  font-size: 20px;
  margin-bottom: 20%;
}

@media screen and (max-width: 992px) {
  .header__container {
    height: 100px;
  }
  .header__container__logo img {
    height: 60px;
  }
  .services__description {
    width: 60%;
  }
  .services__card {
    width: 25%;
    align-items: center;
  }
  .services__card p {
    width: 60%;
  }
  .services__citation {
    width: 70%;
  }
  .objectif__bloc {
    width: 70%;
  }
  .portfolio__container {
    margin: 0 10%;
  }
  .portfolio__container__card {
    width: 80%;
    margin-bottom: 5%;
  }
  .portfolio__title {
    width: 60%;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .header__container {
    height: 100px;
  }
  .header__container__logo img {
    height: 50px;
  }
  .agence__container h1 {
    text-align: center;
  }
  .services__description {
    width: 95%;
  }
  .services__citation {
    width: 95%;
  }
  .services__box {
    display: flex;
    flex-direction: column;
  }
  .services__card {
    margin: 2% auto;
    width: 90%;
  }
  .services__card p {
    width: 100%;
  }
  .services__citation__comment {
    margin-bottom: 5%;
  }
  .services__citation__name {
    margin-bottom: 5%;
  }
  .objectif__bloc {
    width: 95%;
  }
  .portfolio__title {
    width: 95%;
  }
  .portfolio__container {
    flex-direction: column;
    justify-content: center;
  }
  .portfolio__container__card {
    width: 95%;
    margin-bottom: 5%;
  }
  .social {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .annuaires__container {
    display: flex;
    flex-direction: column;
  }
  .annuaires__liste {
    padding-bottom: 10%;
  }
}
/*ET ICON*/
@font-face {
  font-family: et-line;
  src: url(../fonts/et-line.eot);
  src: url(../fonts/et-line.eot?#iefix) format("embedded-opentype"), url(../fonts/et-line.woff) format("woff"), url(../fonts/et-line.ttf) format("truetype"), url(../fonts/et-line.svg#et-line) format("svg");
  font-weight: 400;
  font-style: normal;
}
.et-icon-browser,
.et-icon-edit,
.et-icon-presentation {
  font-family: et-line;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.et-icon-browser:before {
  content: "\e00c";
}

.et-icon-presentation:before {
  content: "\e00e";
}

.et-icon-edit:before {
  content: "\e01c";
}

.prise-contacte {
  background-color: #f3976c;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.prise-contacte h1 {
  font-size: 25px;
}
.prise-contacte p {
  font-size: 20px;
}

.middle-container {
  display: flex;
  justify-content: space-between;
}

.formulaire {
  border: 2px solid #f3976c;
  border-radius: 5%;
  padding: 2%;
  margin: 5% 4%;
  display: flex;
  flex-direction: column;
}
.formulaire__input {
  border: none;
  border-bottom: solid 2px rgb(179, 179, 179);
}
.formulaire__text {
  height: 250px;
  width: 100%;
}
.formulaire__submit {
  padding: 1% 2% 1% 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: black;
  background-color: #f3976c;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10% auto;
  font-size: 20px;
  padding: 2% 5%;
  cursor: pointer;
}
.formulaire label {
  font-size: 20px;
}
.formulaire form {
  margin-bottom: 5%;
}

.location {
  border: 2px solid #f3976c;
  border-radius: 5%;
  padding: 2%;
  margin: 5% 4%;
}
.location .mapouter {
  margin-bottom: 2%;
  position: relative;
  text-align: right;
  height: 400px;
  width: 400px;
}
.location .mapouter iframe {
  border: none;
  overflow: hidden;
  margin: 0;
}
.location .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}
.location p {
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .prise-contacte h2 {
    margin: 2%;
  }
  .prise-contacte p {
    margin: 1%;
  }
  .middle-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .middle-container .formulaire {
    width: 80%;
  }
  .middle-container .location {
    width: 80%;
    text-align: center;
  }
  .middle-container .location .mapouter {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .prise-contacte p {
    width: 90%;
    text-align: center;
  }
  .middle-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  .middle-container .formulaire {
    width: 90%;
  }
  .middle-container .location {
    width: 90%;
    text-align: left;
    margin: 0;
  }
  .middle-container .location p {
    width: 80%;
  }
  .middle-container .location .mapouter {
    width: 100%;
  }
  .middle-container .location .mapouter iframe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */