/*RESET LINK STYLE*/
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
/**/
@media screen and (min-width: 1024px) {
  .page-container {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}
